[Unit]
After=network.service
Description=Routing server application

[Service]
Type=simple
User=ec2-user
Restart=always
ExecStart=/home/ec2-user/routing_server/setup/run_server.sh

[Install]
WantedBy=multi-user.target
