mephisto/tasks/*
**/.mypy_cache/*
**/__pycache__/*
data/*
mephisto.egg-info/*
.DS_Store
tmp/*
**/node_modules/*
mephisto/server/**/package-lock.json
mephisto/server/blueprints/**/build/*
examples/**/build/*
**/*.log
**/build/*
**/_generated/*
**/outputs/*
.coverage

# PyCharm
.idea


# https://next.yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

docs/storybook/storybook-static/*