repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)(
            ^.*build/|
            ^.*md
          )
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=2000"]
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/prettier/pre-commit
    rev: "v2.1.2"
    hooks:
      - id: prettier
        files: "\\.(\
          css\
          |html\
          |js|jsx\
          |json\
          |ts|tsx\
          |yaml|yml\
          )$"
