body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Catamaran", sans-serif;
  margin: 0;
  font-size: 40px;
  letter-spacing: -1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.app-page {
  background-color: #eef4ff;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  padding: 10px 30px;
  font-size: calc(10px + 2vmin);
  color: #485772;
  flex: 1;
}

.app-page-header {
  background-color: #f5f8ff;
  margin: -10px -30px;
  padding: 40px 30px 5px;
  height: 110px;
}

.sidebar {
  background-color: #f4f8ff;
  border-right: 1px solid #d7dee8;
  color: #353d4b;
  padding: 20px;
}

.logo {
  padding-top: 33px;
}

.sidebar.detail {
  border-left: 1px solid #d7dee8;
  border-right: none;
  min-width: 200px;
  box-shadow: 0px 5px 30px 0px #cbced460;
}

input[type="text"] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #c8d5eb;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fafbfd;
  background-image: url("https://www.w3schools.com/howto/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type="text"]:focus {
  width: 100%;
}
