.task-list {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #cee1f5;
  margin: -20px 0px -20px -20px;
  padding: 20px 0;
  align-content: flex-start;
  /* padding: "20px 30px"; */
}

.task-list-item {
  display: inline-block;
  padding: 15px 30px;
  max-width: 400px;
  min-width: 200px;
  text-align: left;
}

.task-list-item.selected,
.task-list-item.selected:hover {
  color: white;
  background-color: #334455;
}

.task-list-item:hover {
  background-color: #ecf0f3;
  cursor: pointer;
}

.name {
  font-weight: bold;
}

.tags span {
  margin-right: 7px;
  display: inline-block;
  font-size: 13px;
}

.search {
  margin: 10px 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #eff3f7;
  font-size: inherit;
  font-weight: bold;
  color: inherit;
}

.search::placeholder {
  color: #a4b5c7;
  font-weight: normal;
}

.search:focus {
  outline: none;
  box-shadow: 0px 0px 2px 1px #c8d8f5 inset;
  background-color: #f7f7f7;
}

textarea,
.text-container {
  margin: 0px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #eff3f7;
  font-size: inherit;
  font-weight: bold;
  color: inherit;
  font-family: monospace;
  width: 100%;
}

textarea:focus {
  outline: none;
  box-shadow: 0px 0px 2px 1px #c8d8f5 inset;
}

.task-description {
  padding: 0 30px;
  flex: 1;
}

.task-description h1 {
  margin: 10px 0 5px 0;
}

.card .task-description p {
  color: #68879e;
  font-size: 21px;
}

.task-description h3 {
  margin-bottom: 10px;
}

.task-description h3 code {
  background-color: #f2f2f2;
  font-size: 16px;
  padding: 0 2px;
}

.controls {
  margin-top: 40px;
}

.btn.inverse {
  background-color: #f5f5f5;
  color: #324456;
}

.btn.inverse:hover {
  background-color: #efefef;
  color: #324456;
}

.ace_editor .ace_marker-layer .ace_bracket {
  display: none;
}

.ace_hidden-cursors .ace_cursor {
  display: none;
}

.controls {
  margin-bottom: 40px;
  background-color: #fbfbfb;
  padding: 20px;
  border: 1px solid #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);

  /* border-bottom: 1px solid #eee; */
}
