.mephisto-worker-experience-tips__tips-list {
  list-style-type: none;
  padding: 0;
}
.mephisto-worker-experience-tips__tip {
  margin-bottom: 1.35rem;
}

.mephisto-worker-experience-tips__tip-header {
  margin-bottom: 0.5rem;
}
.mephisto-worker-experience-tips__tip:last-child {
  margin-bottom: 0;
}

.mephisto-worker-experience-tips__submit-button {
  display: block;
  margin-top: 0.75rem;
}

.mephisto-worker-experience-tips__tip-label {
  display: block;
  margin-top: 0.75rem;
  cursor: pointer;
  width: fit-content;
}
