.grid-item {
  margin: 0px 5px;
  text-align: left;
  height: 100%;
}

.grid-item-content > pre {
  width: 100%;
  overflow: auto;
  height: 12vh;
  white-space: pre-wrap;
  margin-top: -2px;
  margin-bottom: 12px;
  color: #555555;
}
