.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > pre {
  white-space: pre-wrap;
  font-size: 28px;
  max-width: 100%;
  max-height: 500px;
  overflow: auto;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.btn {
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 8px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:active {
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(2px);
}

.btn-green {
  color: #03c04a;
}

.btn-red {
  color: #e3242b;
}

.btn-green:hover {
  background-color: #03c04a;
  color: white;
}

.btn-red:hover {
  background-color: #e3242b;
  color: white;
}

.btn-green:active,
.btn-red:active {
  background-color: #282c34;
  color: white;
}
