.grid-renderer {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.grid-renderer-header {
  margin-top: 12px;
}

.grid-renderer-no-data {
  max-width: 50%;
  max-height: 300px;
  margin: 12px 0;
  overflow: auto;
}

.search-box {
  margin: 6px 0;
  width: 50%;
}

.grid-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-row-gap: 18px;
  grid-column-gap: 6px;
  padding: 12px 18px;
  margin: 6px 0px;
  min-width: 75vw;
  max-width: 100vw;
}

@media only screen and (min-width: 1000px) and (max-width: 1400px) {
  .grid-container {
    grid-template-columns: 50% 50%;
  }
}
@media only screen and (min-width: 1400px) {
  .grid-container {
    grid-template-columns: 33% 33% 33%;
  }
}

.grid-item {
  margin: 0px 5px;
  text-align: left;
}

.grid-item-text {
  height: 12vh;
  width: 100%;
  margin-bottom: 12px;
  overflow: auto;
}

.grid-item-text > pre {
  white-space: pre-wrap;
  margin-top: -2px;
  color: #555555;
}
