body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#app,
.full {
  height: 100%;
  width: 100%;
  margin: 0;
}

.mosaic-window-body {
  padding: 5px;
}

.mosaic {
  height: calc(100% - 50px) !important;
  position: relative;
}

.pop {
  animation: pop 0.2s linear 1;
  will-change: transform;
}
@keyframes pop {
  50% {
    transform: scale(1.15);
  }
}
