body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.segment-wrapper {
  display: block;
  margin: 3px 0px 10px 0px;
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dedede;
  position: relative;
  cursor: pointer;
  transition: transform 0.15s ease-out;
}

.segment-wrapper:hover {
  box-shadow: 0px 5px 10px 3px rgba(56, 55, 53, 0.1);
  transform: translateY(-4px);
  border-color: #c1c1c1;
}

.segment-wrapper.active {
  background-color: rgb(253, 247, 220);
}

.bar {
  background-color: orangered;
  height: 5px;
}

.track {
  background-color: #ddd;
  border-radius: 3px;
  height: 5px;
  margin: 4px 0 10px;
}

.app-container {
  display: flex;
}

.segment-viewer {
  /* margin-top: 20px; */
  padding-left: 20px;
  flex: 1;
}

.segment-viewer {
  margin-left: 50%;
  padding: 10px 20px 30px 30px;
}

.video-viewer {
  position: fixed;
  width: 50%;
  padding: 10px 30px 30px 20px;
  height: 100vh;
  overflow: auto;
}

.duration {
  font-size: 10px;
}

.button {
  color: black !important;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background: #eee;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin: 0 auto;
}

.segment-wrapper.noninteractive:hover {
  transform: none;
  box-shadow: none;
  border-color: #dedede;
}

.button:hover {
  background: #ccc;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.video-settings label {
  margin-right: 10px;
}

.seek-controls button {
  padding: 5px 10px;
  margin-right: 3px;
  border-radius: 4px;
  height: 38px;
}

.segment-wrapper button {
  border: 1px solid rgb(170, 170, 170);
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}
