.all-item-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: calc(12px + 1vmin);
  margin-top: 50px;
  width: 100vw;
  height: calc(100vh - 50px);
  overflow: auto;
}

.all-item-view-message {
  margin: auto 0px;
}

.all-item-view-error {
  margin-top: 36px;
  max-width: 50%;
}

.all-item-view-no-data {
  max-width: 50%;
}
