/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #a40000;
  --ifm-color-primary-dark: #a40000;
  --ifm-color-primary-darker: #a40000;
  --ifm-color-primary-darkest: #a40000;
  --ifm-color-primary-light: #a40000;
  --ifm-color-primary-lighter: #a40000;
  --ifm-color-primary-lightest: #a40000;
  --ifm-code-font-size: 95%;

  --mephisto-primary: #a40000;
  --mephisto-secondary-dark: #344854;
  --mephisto-secondary-mid: #67788a;
  --mephisto-secondary-light: #dee3e9;

  --mephisto-alt-purple: #f0ebf5;
  --mephisto-alt-orange: #fbd6b7;
  --mephisto-alt-yellow: #ffde89;
  --docsearch-primary-color: var(--ifm-color-primary-darkest) !important;
  --docsearch-logo-color: var(--ifm-color-primary) !important;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

body {
  background-color: #f1f4f7;
  color: #465a69;
  padding: 0;
  font-family: "Optimistic Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html[data-theme="dark"] body {
  background-color: var(--ifm-background-color);
  color: var(--ifm-menu-color);
}

html[data-theme="dark"]:root {
  --ifm-color-primary: var(--mephisto-alt-yellow);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Optimistic Display";
}

@font-face {
  font-family: "Optimistic Display";
  src: url("/fonts/Optimistic_Display/EOT/Optimistic_Display_W_Md.eot");
  src: url("/fonts/Optimistic_Display/EOT/Optimistic_Display_W_Md.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Optimistic_Display/WOFF/Optimistic_Display_W_Md.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Optimistic Display";
  src: url("/fonts/Optimistic_Display/EOT/Optimistic_Display_W_Bd.eot");
  src: url("/fonts/Optimistic_Display/EOT/Optimistic_Display_W_Bd.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Optimistic_Display/WOFF/Optimistic_Display_W_Bd.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Optimistic Text";
  src: url("/fonts/Optimistic_Text/EOT/Optimistic_Text_W_Rg.eot");
  src: url("/fonts/Optimistic_Text/EOT/Optimistic_Text_W_Rg.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Optimistic_Text/WOFF/Optimistic_Text_W_Rg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Optimistic Text";
  src: url("/fonts/Optimistic_Text/EOT/Optimistic_Text_W_Bd.eot");
  src: url("/fonts/Optimistic_Text/EOT/Optimistic_Text_W_Bd.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Optimistic_Text/WOFF/Optimistic_Text_W_Bd.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
.DocSearch-Modal {
  margin: 80px auto auto !important;
}

@media (max-width: 750px) {
  .DocSearch-Container {
    position: fixed !important;
  }
  .DocSearch-Modal {
    margin: 60px 0 !important;
  }
  .DocSearch-Dropdown {
    padding-bottom: 20px !important;
  }
}
